// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 BuildJet, Inc.
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */
#include "rv1106-amp.dtsi"

/ {
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff4c0000 console=ttyFIQ0 rootwait snd_soc_core.prealloc_buffer_size_kbytes=16 coherent_pool=0";
	};

	/* 27 MHz ref clock for TC358743 */
	hdmi_osc: hdmi-osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-output-names = "hdmi-osc";
		clock-frequency = <27000000>;
	};

	/* Always-on rails */
	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	/* CPU PWM regulator */
	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		regulator-name = "vdd_arm";
		pwms = <&pwm0 0 5000 1>;
		regulator-min-microvolt = <724000>;
		regulator-max-microvolt = <1078000>;
		regulator-init-microvolt = <950000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
	};

	/* Dummy codec sink + simple-card to capture I²S from TC358743 */
	dummy_codec: dummy-codec {
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
	};

	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "tc358743-hdmi";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dai_codec>;
		simple-audio-card,frame-master    = <&dai_codec>;
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
		};

		dai_codec: simple-audio-card,codec {
			sound-dai = <&dummy_codec>;
		};
	};
};

/* Supplies */
&cpu0 { cpu-supply = <&vdd_arm>; };

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&tsadc { status = "okay"; };
&crypto { status = "okay"; };

/* Analog codec kept enabled */
&acodec {
	#sound-dai-cells = <0>;
	pa-ctl-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/* CSI/MIPI path */
&csi2_dphy_hw { status = "okay"; };

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_input0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&hdmiin_out0>;
				data-lanes = <1 2>; /* set to <1 2 3 4> if you wire 4 lanes to SoC */
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csi_dphy_output>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
			};
		};
	};
};

&rkcif { status = "okay"; };

&rkcif_mipi_lvds {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mipi_pins>;

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
		};
	};
};

/* TC358743 bridge on I2C4 */
&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	tc358743: tc358743@0f {
		compatible = "toshiba,tc358743";
		reg = <0x0f>;
		status = "okay";

		clocks = <&hdmi_osc>;
		clock-names = "refclk";

		reset-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "TC358743XBG";
		rockchip,camera-module-lens-name = "NC";

		#sound-dai-cells = <0>;

		port {
			hdmiin_out0: endpoint {
				remote-endpoint = <&csi_dphy_input0>;
				data-lanes = <1 2 3 4>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <297000000>;
			};
		};
	};
};

/* I2S0 in RX clocking mode (BCLK/LRCLK from TC358743) */
&i2s0_8ch {
	#sound-dai-cells = <0>;
	status = "okay";
	rockchip,trcm-sync-rx-only;

	pinctrl-names = "default";
	pinctrl-0 = <&i2s0m0_sclk_rx &i2s0m0_lrck_rx &i2s0m0_sdi0>;
};

/* Provide missing I2S0 RX pin labels */
&pinctrl {
	i2s0 {
		/omit-if-no-ref/
		i2s0m0_sclk_rx: i2s0m0-sclk-rx {
			rockchip,pins = <2 RK_PA0 2 &pcfg_pull_none>; /* I2S0_SCLK */
		};
		/omit-if-no-ref/
		i2s0m0_lrck_rx: i2s0m0-lrck-rx {
			rockchip,pins = <2 RK_PA1 2 &pcfg_pull_none>; /* I2S0_LRCK */
		};
		/omit-if-no-ref/
		i2s0m0_sdi0: i2s0m0-sdi0 {
			rockchip,pins = <2 RK_PA5 2 &pcfg_pull_none>; /* I2S0_SDI0 */
		};
		/omit-if-no-ref/
		i2s0m0_mclk: i2s0m0-mclk {
			rockchip,pins = <2 RK_PA2 2 &pcfg_pull_none>; /* optional MCLK */
		};
	};
};
